* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*   border: solid 1px red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21deff;
}
@keyframes falling {
  0%,
    100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0%, 100px);
  }
}
.allbub [class*="bub"] {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 87.2140602407%;
  top: 38.5916225113%;
  animation-delay: 0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 99.3701211047%;
  top: -2.407645494%;
  animation-delay: 0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 52.2803763089%;
  top: 27.2702537416%;
  animation-delay: 0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 6.7924578764%;
  top: 76.9538357184%;
  animation-delay: 0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 67.1102861653%;
  top: -9.3855340146%;
  animation-delay: 0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 22.1460271218%;
  top: 37.1892665103%;
  animation-delay: 0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 26.0937497658%;
  top: 5.9289399204%;
  animation-delay: 0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 55.9436405583%;
  top: 76.6911339612%;
  animation-delay: 0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 85.2125010025%;
  top: 75.7986490236%;
  animation-delay: 0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 82.6919687586%;
  top: 38.9928434389%;
  animation-delay: 1s;
}
.allbub .bub11 {
  position: absolute;
  left: 16.0523568406%;
  top: 33.8444685372%;
  animation-delay: 1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 41.8016788777%;
  top: 20.9027441617%;
  animation-delay: 1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 94.9014387504%;
  top: 25.7362950038%;
  animation-delay: 1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 25.6211717574%;
  top: 29.7625337409%;
  animation-delay: 1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 73.78455386%;
  top: 48.5054234897%;
  animation-delay: 1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 96.5962800276%;
  top: -3.0453293273%;
  animation-delay: 1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 54.5504145874%;
  top: 45.5139343159%;
  animation-delay: 1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 5.532468105%;
  top: 77.3010002656%;
  animation-delay: 1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 89.0283649037%;
  top: 11.5411083724%;
  animation-delay: 1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 45.6408067564%;
  top: 0.3274864744%;
  animation-delay: 2s;
}
.allbub .bub21 {
  position: absolute;
  left: 43.5661955813%;
  top: -4.8411272055%;
  animation-delay: 2.1s;
}
.allbub .bub22 {
  position: absolute;
  left: 56.287526047%;
  top: -3.2752404254%;
  animation-delay: 2.2s;
}
.allbub .bub23 {
  position: absolute;
  left: 23.3748663528%;
  top: 44.2789639948%;
  animation-delay: 2.3s;
}
.allbub .bub24 {
  position: absolute;
  left: 2.2165778473%;
  top: 67.6735162374%;
  animation-delay: 2.4s;
}
.allbub .bub25 {
  position: absolute;
  left: 43.2549451794%;
  top: 69.8275625809%;
  animation-delay: 2.5s;
}
.allbub .bub26 {
  position: absolute;
  left: 34.7491017215%;
  top: 38.0807074203%;
  animation-delay: 2.6s;
}
.allbub .bub27 {
  position: absolute;
  left: 3.371204967%;
  top: 39.6314951343%;
  animation-delay: 2.7s;
}
.allbub .bub28 {
  position: absolute;
  left: 67.2216461343%;
  top: 3.2245905136%;
  animation-delay: 2.8s;
}
.allbub .bub29 {
  position: absolute;
  left: 26.3053611621%;
  top: 45.8719082728%;
  animation-delay: 2.9s;
}
.allbub .bub30 {
  position: absolute;
  left: 45.2978919301%;
  top: 6.3986294349%;
  animation-delay: 3s;
}
.allbub .bub31 {
  position: absolute;
  left: 38.5297505159%;
  top: 47.2781379108%;
  animation-delay: 3.1s;
}
.allbub .bub32 {
  position: absolute;
  left: 0.144284207%;
  top: 89.2057493857%;
  animation-delay: 3.2s;
}
.allbub .bub33 {
  position: absolute;
  left: 59.6839490504%;
  top: 42.3421255669%;
  animation-delay: 3.3s;
}
.allbub .bub34 {
  position: absolute;
  left: 17.711879121%;
  top: 3.5428616772%;
  animation-delay: 3.4s;
}
.allbub .bub35 {
  position: absolute;
  left: 62.638805044%;
  top: 12.6525726598%;
  animation-delay: 3.5s;
}
.allbub .bub36 {
  position: absolute;
  left: 73.2656133022%;
  top: 5.9530639081%;
  animation-delay: 3.6s;
}
.allbub .bub37 {
  position: absolute;
  left: 23.3467489614%;
  top: 47.5922410447%;
  animation-delay: 3.7s;
}
.allbub .bub38 {
  position: absolute;
  left: 19.1182538866%;
  top: 32.8572921991%;
  animation-delay: 3.8s;
}
.allbub .bub39 {
  position: absolute;
  left: 63.1419921925%;
  top: 66.0381888021%;
  animation-delay: 3.9s;
}
.allbub .bub40 {
  position: absolute;
  left: 88.0738760194%;
  top: 19.1279738867%;
  animation-delay: 4s;
}

.santa {
  position: relative;
  width: 210px;
  height: 330px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hat {
  position: absolute;
  background: #ef5c53;
  width: 100%;
  height: 90px;
  top: 30px;
  border-radius: 100px 100px 0 0;
  box-shadow: inset 30px 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hat:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 40px;
  height: 40px;
  top: -30px;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: inset 30px 0 20px rgba(0, 0, 0, 0.1);
}

.hat:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 120%;
  height: 48px;
  top: 90px;
  border-radius: 50px;
  margin-left: -10%;
  box-shadow: inset 30px 0 20px rgba(0, 0, 0, 0.1);
}

.ear {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #ffe1c7;
  top: 174px;
  border-radius: 50%;
  z-index: -2;
}

.ear.left {
  left: -24px;
}

.ear.right {
  right: -24px;
}

.face {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  border-radius: 0 0 120px 120px;
  overflow: hidden;
}

.face i:nth-of-type(1), .face i:nth-of-type(2) {
  position: absolute;
  top: 0;
  width: 45%;
  height: 45%;
  background: #ffe1c7;
  display: block;
  border-radius: 0 0 45% 45%;
  overflow: hidden;
}

.face i:nth-of-type(1) {
  left: 5%;
}

.face i:nth-of-type(2) {
  right: 5%;
}

.eye {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #000;
  top: 30px;
  border-radius: 50%;
}

.eye.left {
  left: 55px;
}

.eye.right {
  right: 55px;
}

.nose {
  position: absolute;
  top: 48px;
  width: 30px;
  height: 30px;
  background: #ef5c53;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.beard {
  position: absolute;
  width: 100%;
  height: 180px;
  background: #f4f4f4;
  bottom: 0;
  border-radius: 0 0 200px 200px;
  box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  color: #fff;
}

@keyframes move {
  0% {
    left: 0px;
  }
  25% {
    left: 500px;
  }
  50% {
    left: -500px;
    transform: scale(3) rotate(360deg);
  }
  100% {
    left: 0px;
  }
}